### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
/logs/2026-06-25/error.2026-06-25-10.log
/xuecheng-plus-content/xuecheng-plus-content-service/logs/
/xuecheng-plus-generator/
/logs/
/xuecheng-plus-base/target/
/xuecheng-plus-content/target/
/xuecheng-plus-parent/target/
/xuecheng-plus-system/target/
